.main {
  color: var(--color-text);
  height: 100%;
}

.content {
  box-sizing: border-box;
  display: grid;
  height: 100%;
  gap: var(--spacing24);
  grid: auto-flow / 300px 1fr;
  padding: var(--spacing24);
}
