.socials {
  margin-bottom: var(--spacing24);
}

.field {
  background-color: var(--color-lightgrey);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: var(--spacing12);
  gap: var(--spacing12);
  margin-bottom: var(--spacing12);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing4);
}
